.site-wrapper {
    background-color: #00aef2;
}

.movies-items {
    margin-left: 1px;
    height: 400px;
    font-weight: bold;
    padding: 15px;
    padding-top: 45px;
    border-radius: 45px;
    color: #ffffff;
    overflow: auto;
    border: 3px solid rgb(246, 255, 0);
}

.movies-img {
    width: 150px;
    height: 130px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.movies-price {
    margin-left: 70px;
    text-decoration: line-through;
}
.ready-item {
    width: 250px;
    height: 350px;
    padding: 25px;
    margin-top: 15px;
    background-color: rgb(47, 234, 255);
    overflow: auto;
    border: 2px solid rgb(229, 255, 0);
    border-radius: 45px;
}

.ready-item:hover {
    cursor: pointer;
    transform: scale(0.8);
    transition: ease 0.5s;
    background-color: rgb(246, 246, 54);
}
