.site-wrapper {
    background-color: #00aef2;
}

.movies-items {
    margin-left: 1px;
    height: 400px;
    font-weight: bold;
    padding: 15px;
    padding-top: 45px;
    border-radius: 45px;
    color: #ffffff;
    overflow: auto;
    border: 3px solid rgb(246, 255, 0);
}

.movies-img {
    width: 150px;
    height: 130px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.movies-price {
    margin-left: 70px;
    text-decoration: line-through;
}

